.member{
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
   
}

.memeber-center{
    margin-left:  auto;
    margin-right: auto;
    padding: auto;
    background-color: white;
  }
  
  .card-box {
    position: relative;
    color: #007bff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}



#TotalBug1 h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;

}
.card-box p {
    font-size: 15px;
}
.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}

table {
    counter-reset: rowNumber;
  }
  
  table .b::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) "";
    padding-right: auto;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
  }

  .hscroll {
    overflow-y: auto; /* Horizontal */
  }

td {
    font-size: small;
}
#myChart{
    width: 10%;
    height: 10%;



}


canvas#myChart {
    display: block;
    box-sizing: border-box;
    height: 10.667px;
    width: 10.667px;
}

#myCharts{
    width: 10%;
    height: 10%;



}


canvas#myChartt {
    display: block;
    box-sizing: border-box;
    height: 10.667px;
    width: 10.667px;
}



#myChartt{
    width: 10%;
    height: 10%;



}


canvas#myChartt {
    display: block;
    box-sizing: border-box;
    height: 10.667px;
    width: 10.667px;
}

#myChartt{
    width: 10%;
    height: 10%;



}


canvas#myChartt {
    display: block;
    box-sizing: border-box;
    height: 10.667px;
    width: 10.667px;
}








 #member {
    display: flex;
    flex-direction: column;
    text-align:left;
    overflow: scroll;
    padding-left: 0.3rem;
 }

 #bgLanding{

   background-image:  linear-gradient(90deg,#046ad6 70%,rgb(255,255,255) 70%);
    margin-bottom: 7%;
 }

 body.HomeBg{
     background-image: linear-gradient(90deg,#046ad6 70%,rgb(255,255,255) 70%);
 }

 
 #footer{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 

 body.login{
    background-image: linear-gradient(90deg,rgb(255, 255, 255) 50%,#046ad6 50%);
 }

 body.signup{
     background-image: linear-gradient(90deg,#046ad6 50%,rgb(255, 255, 255) 50%);
 }

 #output {
     color: green;
 }

 #output1 {
    color: green;
}

 body.dashboard{
     background-color:  rgb(237, 242,249);
 }

 #Logout{
    float: left;
    margin-left: 10px;
  }
 
  #addM {
      margin-left: 70%;
  }

  .card1{
      margin:0 auto;
      float: none;
      margin-bottom: 10px;

  }

  .button{
      justify-content: center;
  }

  @media only screen and (max-width: 500px) {
    #bgLanding{

        background-image:  linear-gradient(180deg,#046ad6 100%,#046ad6 100%);
         margin-bottom: 7%;
      }

    #footer{
        margin-bottom: 100%;
        height: 1000px;
    
      
      
    }







 body.HomeBg{
    background-image: linear-gradient(90deg,#046ad6 100%,#046ad6 100%);
    

  }


  }

  body.Member{
      background-color: #edf2f9;
  }

  body.Bugs{
    background-color: #edf2f9;

  }

  #demo:hover {
     animation: pulse;
     animation-duration: 1s;
  
      
  }


  .card-box {
    position: relative;
    color: #007bff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}



#TotalBug1 h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;

}
.card-box1 p {
    font-size: 15px;
}
.card-box1 .icons {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box1 .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
