<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Member</title>
	<link rel="stylesheet" href="style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<body>

	<div class="container">
		<div class="card-block border-danger ">
			<h1></h1>
			<a href="/members" class="btn btn-primary btn btn-default"><i class=" btn-lg  bi bi-arrow-left-circle pr-2" aria-hidden="true"></i></a>
			<div class=" col d-flex justify-content-center">
				<div class="card card1" style="width: 35rem;">
					<div class="card-header text-center bg-primary text-light">Edit Members</div>


					<form action="/members/<%= members._id %>?_method=PUT" method="post" class="text-center border border-light p-5">


						<input type="text" name='name' class="form-control mb-4 text-muted" value="<%= members.name %>">


						<input type="email" name="email" class="form-control mb-4 text-muted" value="<%= members.email %>">

						<input type="number" name='phone' class="form-control mb-4 text-muted" value="<%= members.phone %>">


						<input class=" btn btn-theme justify-content-center btn-success text-light text-center " type="submit" value="Edit Members"></input>

					</form>


				</div>
			</div>

		</div>
	</div>
	</div>

</body>

</html>
  
     